################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mecho-Project/FileContentIndex/306b5fe6-a560-48d3-80d1-5dc47c11a3a7.vsidx
